force-app/main/default/flows/Sa_ve_mMusterilerine_yardimci_olmak_icin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_TTC_User</name>
        <label>Email to TTC User</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <actionName>TTC_Records__c.New_Email_Alert_for_TTC_User</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Requested_Email_Alert</name>
        <label>Requested Email Alert</label>
        <locationX>314</locationX>
        <locationY>1631</locationY>
        <actionName>TTC_Records__c.New_Email_Alert_Requester</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Account_Name</name>
        <label>Account Name</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>OpportunityIsNotBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_is_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Company_to_Account_Name</targetReference>
            </connector>
            <label>Lead is exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF</name>
        <label>IF</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requester_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requestor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Requester</targetReference>
            </connector>
            <label>Requester is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityIsNotBlank</name>
        <label>OpportunityIsNotBlank</label>
        <locationX>314</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>TT_Action_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityName_to_Account_Name</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Approved_Completed_Rejected</name>
        <label>Status Approved Completed Rejected</label>
        <locationX>314</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Is_Updated</name>
            <conditionLogic>(1 OR 2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MTC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MTC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MTC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MTC_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_TTC_User</targetReference>
            </connector>
            <label>Status Is Updated</label>
        </rules>
        <rules>
            <name>TTC_Requested_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MTC_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MTC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requested_Email_Alert</targetReference>
            </connector>
            <label>TTC Requested Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>TT_Action_Status</name>
        <label>TT Action Status</label>
        <locationX>314</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Status_Approved_Completed_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TTC_Action_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.MTC_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TTC_Status_Update</targetReference>
            </connector>
            <label>TTC Action Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BlankRequester</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(),ISBLANK({!$Record.Requestor__c}))</expression>
    </formulas>
    <formulas>
        <name>IsChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.MTC_Action__c})</expression>
    </formulas>
    <formulas>
        <name>LeadIsExist</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(),NOT(ISBLANK({!$Record.Lead__c})))</expression>
    </formulas>
    <formulas>
        <name>LeadIsNotBlank</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(),NOT(ISBLANK({!$Record.Lead__c})))</expression>
    </formulas>
    <formulas>
        <name>OppIsBlank</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(),NOT(ISBLANK({!$Record.Opportunity__c})))</expression>
    </formulas>
    <interviewLabel>Sa ve mMusterilerine yardimci olmak icin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>US 8---SA ve Musterileri</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Lead_Company_to_Account_Name</name>
        <label>Lead Company to Account Name</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>OpportunityIsNotBlank</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Lead__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OpportunityName_to_Account_Name</name>
        <label>OpportunityName to Account Name</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>TT_Action_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Requester</name>
        <label>Set Requester</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Account_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TTC_Status_Update</name>
        <label>TTC Status Update</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Status_Approved_Completed_Rejected</targetReference>
        </connector>
        <inputAssignments>
            <field>MTC_Status__c</field>
            <value>
                <elementReference>$Record.MTC_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IF</targetReference>
        </connector>
        <object>TTC_Records__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
